.user-page {
  padding-top: 1rem;
  padding-bottom: 20px;

  &__container {
    display: flex;
  }

  &__block {
    width: 100%;
    margin-bottom: 16px;
    background: #fff;
    border-radius: 3px;
    @extend .block-shadow;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
    // &-header {
    //   height: 40px;
    //   line-height: 40px;
    //   padding: 0 30px;
    //   background: #D2D2D2;
    //   font-size: 20px;
    //   color: #FFFFFF;
    // }
    &-caption {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 18px;
    }

    &-content {
      padding: 30px;
      background: #fff;
    }
  }

  &__sidebar {
    width: 100%;
    position: sticky;
    top: 15px;
    padding-bottom: 20px;
  }

  &__user {
    padding: 30px;

    &-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-height: 245px;
      margin-bottom: 20px;
    }

    &-name {
      margin-bottom: 6px;
      font-weight: 600;
    }

    &-info {
      ul {
        margin-bottom: 10px;

        li {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-review {
      font-size: 16px;

      a {
        color: #333;
      }
    }
  }

  &__contacts {
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      font-size: 18px;
      color: #333;

      &:hover {
        color: #333;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__content {
    // width: 730px;
    &-info {
      margin-bottom: 20px;
    }
  }

  &__about {
    &-text {
      margin-bottom: 16px;
    }

    &-price {
      display: flex;
      margin-bottom: 16px;

      &-item {
        font-size: 16px;
        // font-weight: 200;
        // font-style: italic;
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__features {
    display: flex;
    // margin-bottom: 16px;
    &-list {
      display: flex;
    }

    &-item {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__price {
    margin-bottom: 15px;
    @extend .block-shadow;

    &-item {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      transition: 0.3s;

      &:nth-child(odd) {
        background: #F7F7F7;
      }

      &:hover {
        background: #ccc;
      }
    }
  }

  &__portfolio {
    &-content {
      padding: 16px 30px 30px;
    }

    &-navs {
      display: flex;
      border-bottom: 1px solid #EAEAEA;
      margin-bottom: 35px;

      &-item {
        padding: 5px 10px;
        cursor: pointer;

        &--active {
          position: relative;

          &:after {
            position: absolute;
            bottom: -1px;
            left: 0;
            background: #EFCE4A;
            height: 2px;
            width: 100%;
            content: '';
          }
        }
      }
    }

    &-photos {
      display: flex;
      flex-wrap: wrap;
      margin: -18px -9px 0;
    }

    &-item {
      position: relative;
      border-radius: 3px;
      overflow: hidden;
      margin: 18px 9px 0;
      width: calc((100%/4) - 18px);
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__diplomas {
    &-content {
      display: flex;
      flex-wrap: wrap;
      margin: -30px -15px 0;
    }

    &-item {
      margin: 30px 15px 0;
      width: calc((100%/4) - 30px);
      cursor: pointer;
    }
  }

  &__review {
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 75px;
    }

    &-all {
      margin-right: 25px;

      &-item {
        display: flex;
        justify-content: space-between;

        span {
          &:first-child {
            margin-right: 15px;
          }
        }
      }
    }

    &-plus {
      color: #25C368;
    }

    &-neutral {
      color: #666;
    }

    &-minus {
      color: #FC4949;
    }

    &-rating {
      display: flex;
      margin-bottom: 15px;

      &-item {
        margin-right: 15px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-send {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 192px;
      padding: 15px;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      @extend .block-shadow;
      border-radius: 3px;

      textarea {
        width: 100%;
        border: none;
        resize: none;

        &:focus {
          outline: none;
        }
      }
    }

    &-form {
      flex: 1;
      display: flex;
      flex-direction: column;

      textarea {
        flex: 1;
        margin-bottom: 15px;
      }
    }
  }
}

.form-files {
  display: flex;
  justify-content: space-between;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    background: #F3F3F3;
    border-radius: 3px;
    cursor: pointer;
  }
}

.rating {
  display: flex;

  &-item {
    font-size: 18px;

    &--plus {
      color: #27AE60;
      margin-right: 10px;
    }

    &--minus {
      color: #EB5757;
    }
  }
}

.hide-tail {
  display: none;
}

.user-contacts-email,
.user-contacts-site {
  display: none;
}

.user-contacts-email--show,
.user-contacts-site--show {
  cursor: pointer;
  font-size: 18px;
}
