 .cms-bullets {
   &__list {
     display: flex;
     flex-direction: column;
     margin-bottom: 3rem;
     li {
       display: flex;
       align-items: center;
       margin-bottom: 5px;
       &:last-child {
         margin-bottom: 0;
       }
     }
   }
   &__item {
     display: inline-block;
     width: 200px;
     padding: 5px 10px;
     background: #F9F9F9;
     border: 1px solid #ccc;
     cursor: move;
   }

 }
