.advert{
	padding: 30px;
	margin-top: 30px;
	&__user{
		&_photo{
			width: 60px;
			height: 60px;
			border-radius: 30px;
			background-image: url(../../img/user.jpg);
			background-size: cover;
		}
		&_img{
			width: 60px;
			height: 60px;
			border-radius: 30px;

		}
		&_photo-active{
			border: 2px solid #17D759;
		}
		&_name{
			font-size: 16px;
		}
		&_rating{
			font-size: 18px;
		}

	}

	&__sales{
		background-color: rgba(237, 114, 0, 0.67);
		max-width: 112px;
		padding: 12px;
	}

	&__city{
		&_name{
			color: #888888;
		}
	}

	&__metro{
		&_station-name{
			color: #888888;
			font-size: 14px;
		}
		&_station-circle{
			width: 10px;
			height: 10px;
			border-radius: 5px;
		}
		&_station-circle-green{
			background-color: #27AE60;
		}
		&_station-circle-red{
			background-color: #F2994A;
		}
		&_station-circle-yellow{
			background-color: #EB5757;
		}
		&_station-circle-blue{
			background-color: #2F80ED;
		}
	}

	&__price{

		&_title{
			font-size: 14px;
		}
		&_val{
			font-size: 18px;
		}
		&_min{
			font-size: 14px;
			margin-top: 12px;
		}
	}

	&__about{
		font-size: 12px;
	}
}
