.login-form{
	width: 370px;
	padding: 22px 37px;
	border: 1px solid #E0E0E0;
	&__logo{
		height: 104px;
		top: -65px;
		left: 133px;
	}
	&__title{
		margin-top: 45px;
		font-size: 22px;
		line-height: 26px;
		color: #000;
		&_arrow{
			left: 0;
			top: 0;
			padding-top: 5px;
		}
		&_arrow:hover{
			svg{
				path{
					fill: #828282;
				}
			}
		}
	}
	&__text{
		color: #828282;
	}
	&__tel, &__sms{
		//margin-top: 30px;
		&_begin, &_input{
			border: 0;
			border-bottom: 1px solid #BDBDBD;
			height: 32px;
			font-size: 20px;
			//line-height: 23px;
			border-radius: 0;
		}
		&_input-tel{
			flex-grow: 1;
		}
		&_input-sms{
			width: 100px;
			font-size: 18px;
			line-height: 21px;
		}
		&_input-sms::placeholder{
			color: #BDBDBD;
		}
		&_reset{
			font-size: 13px;
			line-height: 15px;
			color: #BDBDBD;
		}
		&_reset:hover{
			color: #59CAFB;
			text-decoration: none;
		}
	}
	&__info{
		margin-top: 20px;
		font-size: 14px;
		line-height: 16px;
		color: #BDBDBD;
	}
	&__info-sms{
		color: #828282;
	}
	&__btn{
		margin-top: 20px;
		background-color: #55B9E3;
		font-size: 17px;
		line-height: 20px;
		padding: 10px;
	}
	&__btn:hover{
		background-color: #00B2FF;
	}
}

.login-control{
	&-invalid{
		border-color: #FC4949;
		&-feedback{
			color: #FC4949;
			display: none;
			bottom: -23px;
			left: 0px;
		}
	}
}