.footer {
  &-copyright {
    width: 100%;
    text-align: center;
  }
  &-social {
    display: flex;
    &__item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      img {

      }
    }
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
  }

}

@media only screen and (min-width: 992px) {
  .footer {
    &-social {
      justify-content: flex-end;
    }
  }
}
