.pa-input {
  width: 100%;
  height: 40px;
  padding-left: 1rem;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;

  &::-webkit-input-placeholder {
    font-size: 14px;
    color: #999;
  }

  &::-moz-placeholder {
    font-size: 14px;
    color: #999;
  }
}

.pa-textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  resize: none;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-size: 14px;
    color: #999;
  }

  &::-moz-placeholder {
    font-size: 14px;
    color: #999;
  }
}

.pa-select {
  border: 1px solid #E2E2E2;
  padding: 5px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  &:focus {
    outline: none;
  }
}
